<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977825625575-irv4bhnmsgadnh1a52jbsssbk1ck4gh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977825625575-irv4bhnmsgadnh1a52jbsssbk1ck4gh5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>977825625575-2lq98lc2115n8jadof4689l7424d5uhp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbVDNgdLpgOgsK2TM114_nsHsBI-bc948</string>
	<key>GCM_SENDER_ID</key>
	<string>977825625575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gradution-project2</string>
	<key>STORAGE_BUCKET</key>
	<string>gradution-project2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977825625575:ios:32453b1cc19b5f0d30f942</string>
</dict>
</plist>